<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{if condition="isset($meta_title)"}{$meta_title} - {/if}极客小寨工作室-博客管理平台</title>
    <link href="/public/img/g.ico" type="image/x-icon" rel="shortcut icon">
    <!-- bootstrap -->
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <!-- font-awesome -->
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="__CSS__/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="__CSS__/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="__CSS__/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">    
    
    <link href="__CSS__/animate.min.css" rel="stylesheet">    
    <link href="__CSS__/style.css" rel="stylesheet">
    
    <!-- Switchery -->
    <link href="__CSS__/plugins/switchery/switchery.css" rel="stylesheet">
    <script src="__JS__/plugins/switchery/switchery.js"></script>    
	<script src="__JS__/jquery-2.1.1.js"></script>
    <!-- 图片上传 -->
    <script src="__JS__/plugins/jquery-upload-file/js/jquery.form.js"></script>
	<script src="__JS__/plugins/jquery-upload-file/js/jquery.uploadfile.js"></script>
	<script src="__JS__/plugins/jquery-upload-file/js/jquery.iframe-transport.js"></script>
    <script src="__JS__/plugins/jquery-upload-file/js/jquery.ui.widget.js"></script>
    <!-- sweetalert -->
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__JS__/sweetalert.min.js"></script>
    <!-- 复选框 -->    
    <link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
	<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
    <!-- layui -->
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <script src="/public/layui/layui.js" type="text/javascript"></script>
      
    {block name="style"}{/block}
</head> 
<body>    
<input type="hidden" name="url" value="{$Request.path}" id="url">
    {include file="admin@public/left"/}
    {block name="body">}{/block}
        <div class="footer">
            <div class="pull-right">
                <a href="http://www.geekxz.com/">极客小寨工作室</a>
            </div>
            <div>
                &copy; 2019 - FOREVER
            </div>
        </div>
    </div>
    <!-- bootstrap -->
    <script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
    <!-- 右侧列表 -->
    <script src="__JS__/inspinia.js"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <!-- Custom and plugin javascript -->
    <!-- <script src="__JS__/plugins/pace/pace.min.js"></script> -->
    <script>
    $(function(){
		s_url = '/'+$('#url').val()+'.html';		
        if( s_url != undefined){
            var s_url= s_url;			
            var now_url = '';
            for(var i = 0;i<$("#side-menu li").length;i++){
                now_url=$("#side-menu li a").eq(i).attr("href");				
				// console.log(now_url);
				// console.log(s_url);
                if(now_url == s_url){					
                    $("#side-menu a").eq(i).parent().addClass("active");
                    $("#side-menu a").eq(i).parent().parent().parent().addClass("active");
                    $("#side-menu a").eq(i).parent().parent().addClass("in");
                }else{
                    $("#side-menu a").eq(i).parent().removeClass("active");
                }
            }
        }
    })
	
    </script>
    {block name="script"}{/block}
</body>
</html>
