{extend name="public/base" /}
{block name="sidebar"}{/block}
{block name="style"}
<style type="text/css">
    th,td{
        height: 40px;
    }
</style>
{/block}
{block name="body"}

<div class="row">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">            
            <div class="row">
                <h2 style="padding-left:10px">评论列表</h2>
            </div>
        </div>
        <div class="row"> 
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    
                    <div class="ibox-content" style="text-align: left;">
                        <div class="form-box" style="margin-bottom: 15px;">
                           <!-- <a class="btn btn-primary" href="/admin/Nav/add">新增</a>  -->
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>                           
                            <tr>
                                <th>序号</th>
                                <th>文章名称</th>
                                <th>评论者名称</th>
                                <th>邮箱</th>
                                <!-- <th>链接</th> -->
                                <th>内容</th>
                                <th>状态</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $geekxzc as $vo} 
                                <tr class="gradeU text-left">
                                    <td width="5%">{$vo.id}</td>
                                    <td width="15%">{$vo.title}</td>
                                    <td width="10%">{$vo.author}</td>
                                    <td width="5%">{$vo.email}</td>
                                    <td width="15%">{$vo.comment}</td>
                                    <td align="center">
                                        <a style="width: 56px;" change="{$vo.id}" onclick="changeshows(this);" {if condition="$vo['status'] eq 1"}class="layui-unselect layui-form-switch layui-form-onswitch"{else /}class="layui-unselect layui-form-switch"{/if}>
                                        <em>显示</em><i></i>
                                        </a>
                                    </td>
                                    <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                                    <td width="20%">
                                       <!-- <a href="/Admin/nav/edit/id/{$vo.id}.html"><button type="button" class="btn btn-w-m btn-info">修改</button></a> -->
                                       <button type="button" class="btn btn-w-m btn-danger" del-id="{$vo.id}" onclick="destroy(this)">删除</button>
                                    </td>
                                </tr> 
                            {/foreach}  
                            </tbody>
                        </table>
                        <div class="paging_simple_numbers">
                            
                        </div>                    
                    </div>
                </div>
            </div>
        </div>         
    </div>
</div>

{/block}
{block name="script"}




<script type="text/javascript">   
    // 删除
    function destroy(obj){
        var id = $(obj).attr('del-id');         
         swal({
            title: "确认要执行删除导航该操作吗?", 
            text: "确定，您将无法恢复此虚拟文件！", 
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: '确认',
            cancelButtonText: '取消',
            confirmButtonColor: "#ec6c62"
        }, function() {
             $.post(
                '{:url("comment/dels")}',
                {'id':id},
                function(data){
                    if(data.code == 200){
                        $(obj).parent().parent().remove();                  
                        swal("删除成功!", "您的虚拟文件已被删除。","success");
                    }else{
                        $(obj).parent().parent().remove();                  
                        swal("删除失败!", "请您稍后重新尝试。","error");
                    }
            }); 
        }); 
       
    }
    function changeshows(o){
        var change=$(o).attr("change");
        $.ajax({
          type:"post",
          dataType:"json",
          data:{change:change},
          url:"{:url('comment/changeshows')}",
          success:function(data){
              if(data == 1){
                  $(o).attr("class","layui-unselect layui-form-switch");
              }else{
                  $(o).attr("class","layui-unselect layui-form-switch layui-form-onswitch");
              }
          }
        });
    }
</script>


{/block}